## Project 3: Build Decision Tree for Bank Loan Modelling
### DV - "Personal Loan"
### IDV - Output of RF Algorithm

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
bankloan_train = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx", sheet_name="Data")

In [3]:
bankloan_train.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
bankloan_train = bankloan_train.interpolate()

In [5]:
bankloan_train.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=10,oob_score=True)

In [15]:
features=['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [16]:
rf_model.fit(X=bankloan_train[features], y=bankloan_train["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=10,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
print("OOB Accuracy")
print(rf_model.oob_score_)

OOB Accuracy
0.9884

In [18]:
for feature,imp in zip(features, rf_model.feature_importances_):
    print(feature,imp*100)

Age 2.0286702241014316
Experience 1.8528551479072317
Income 33.538138275504046
Family 15.599347473197412
CCAvg 8.002291004679003
Education 35.5503106737143
Mortgage 0.6849248991103992
Securities Account 0.16212634979334253
CD Account 1.8559977122559055
Online 0.4581219265207541
CreditCard 0.26721631321616807

In [21]:
tree_model = tree.DecisionTreeClassifier(max_depth=6)

In [22]:
predictors = pd.DataFrame([bankloan_train["Education"],bankloan_train["Income"], bankloan_train["Family"]]).T

In [23]:
tree_model.fit(X=predictors, y =bankloan_train["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
with open("Dtree6.dot", 'w') as f:
    f = tree.export_graphviz(tree_model, feature_names=["Education", "Income", "amily"], out_file=f);

In [25]:
tree_model.score(X=predictors, y=bankloan_train["Personal Loan"])

0.9828