### Project 1: Build Decision Tree(DV-"Survived",IDV-"Age,Gender and Fare") and Prediction

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
titanic_train = pd.read_csv('train.csv')

In [3]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic_train["Age"].median()

32.0

In [5]:
new_age_var = np.where(titanic_train["Age"].isnull(),28,titanic_train["Age"])

In [6]:
titanic_train["Age"] = new_age_var

In [7]:
label_encoder = preprocessing.LabelEncoder()

In [8]:
encoded_sex = label_encoder.fit_transform(titanic_train["Sex"])

In [9]:
tree_model = tree.DecisionTreeClassifier(max_depth=6)

In [11]:
predictors = pd.DataFrame([encoded_sex,titanic_train["Age"], titanic_train["Fare"]]).T

In [12]:
tree_model.fit(X=predictors, y =titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
with open("Dtree4.dot", 'w') as f:
    f = tree.export_graphviz(tree_model, feature_names=["Sex", "Age", "Fare"], out_file=f);

In [14]:
tree_model.score(X=predictors, y=titanic_train["Survived"])

0.8301462317210349

In [15]:
titanic_test =pd.read_csv("test.csv")

In [16]:
new_age_var_test = np.where(titanic_test["Age"].isnull(),28,titanic_test["Age"])

In [18]:
titanic_test["Age"]=new_age_var_test

In [19]:
encoded_sex_test = label_encoder.fit_transform(titanic_test["Sex"])

In [25]:
test_features = pd.DataFrame([encoded_sex_test,titanic_test["Age"], titanic_test["Fare"]]).T

In [26]:
test_preds = tree_model.predict(X=test_features)

In [27]:
Predicted_Output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"], "Survived":test_preds})

In [29]:
Predicted_Output.to_csv("Output.csv", index=False)

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
titanic_train["Sex"] = label_encoder.fit_transform(titanic_train["Sex"])

In [33]:
titanic_train["Sex"]

0      1
1      0
2      0
3      0
4      1
      ..
884    1
885    0
886    0
887    1
888    1
Name: Sex, Length: 889, dtype: int32

In [34]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [35]:
features=["Sex","Age","Fare"]

In [36]:
rf_model.fit(X=titanic_train[features], y=titanic_train["Survived"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [37]:
print("OOB Accuracy")
print(rf_model.oob_score_)

OOB Accuracy
0.7840269966254219

In [38]:
for feature,imp in zip(features, rf_model.feature_importances_):
    print(feature,imp)

Sex 0.28475992947431145
Age 0.2853727588126049
Fare 0.42986731171308373